<!--
 Copyright (c) 2014, 2018, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
-->
<div class="oj-hybrid-padding">
    <h1>Customers Content Area</h1>
    <div>
        <div id="listPage" >
            
            <div class='oj-flex-bar'>
                <div class='oj-flex-bar-middle'>
                    <oj-input-text   placeholder="Buscar actor" on-raw-value-changed="[[handleRawValueChanged]]">
                    </oj-input-text>
                </div>
            </div>
            
            <oj-button on-oj-action="[[newActor]]">Nuevo</oj-button>
            
            <oj-list-view id="actorsListView" aria-label="list using observable array"    
                          data="[[dataProvider]]"
                          on-current-item-changed="[[loadActor]]" >
                <template slot="itemTemplate">
                    <span>
                        <oj-bind-text value='[[$current.data.firstName]]'></oj-bind-text>
                        <oj-bind-text value='[[$current.data.lastName]]'></oj-bind-text>
                    </span>
                </template>
            </oj-list-view>
        </div>
        
        <div id="formPage" style="display: none">
            <oj-form-layout>
                <oj-input-text required="required" value="{{form.firstName}}" label-hint="Nombre" ></oj-input-text>
                <oj-input-text required="required" value="{{form.lastName}}" label-hint="Apellido" /></oj-form-layout>
                <oj-button  on-oj-action="[[formSave]]" class="oj-button-primary">Guardar</oj-button>
                <oj-button on-oj-action="[[formCancel]]">Cancelar</oj-button>
            </oj-form-layout>
        </div>
    </div>
</div>
